.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: #475841; /* Feld */
    border: 2px solid #3f403f; /* Onyx */
    border-radius: 10px;
  }

  .word-box {
    transition: filter 0.125s;
  }
  
  /* Apply blur to all WordBox elements except the one being hovered */
  .board:not(.game-over):hover .word-box:not(:hover) {
    filter: blur(1px);
  }
    