.clue-giver {
  background-color: #A9B18F;
  border-radius: 10px;
  padding: 20px;
  margin-left: 20px;
  width: 300px;
}

.hint-box {
  background-color: #f0f0f0;
  border: 1px solid #3f403f;
  border-radius: 5px;
  padding: 10px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-line;
}

.hint-box p {
  margin: 10px;
  font-size: 36px;
  color: #3f403f;
}