.score-tracker {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  user-select: none;
  cursor: pointer;
}

.score {
  width: 150px;
  height: 60px;
  margin: 25px 150px 5px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
  background-color: whitesmoke;
}

.score.pink {
  color: hotpink;
  /* color: black; */
}

.score.green {
  color: green;
  /* color: white; */
}

.value {
  font-size: 22px;
}

.label {
  font-size: 24px;
  margin-bottom: 4px;
}

.GameStatus {
  text-align: center;
  flex-grow: 1;
  background-color: whitesmoke;
  width: 200px;
  margin-top: 25px;
  font-size: 12px;
}

.status-value {
  font-size: 30px;
  font-weight: bold;
}

.status-value.pink {
  color: #ff69b4;
}

.status-value.green {
  color: #2ecc71;
}

.status-value.game-over.green{
  color: green;
}
.status-value.game-over.pink{
color: pink;
}